Providers/WebServicesProvider/Service References/WcfServices.ReportingService/ReportingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56089/ReportingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56089/ReportingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportingService_GetAllActivationLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActivationLogs" />
  </wsdl:message>
  <wsdl:message name="IReportingService_GetAllActivationLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActivationLogsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportingService_GetAllLicenseActivations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLicenseActivations" />
  </wsdl:message>
  <wsdl:message name="IReportingService_GetAllLicenseActivations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLicenseActivationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportingService">
    <wsdl:operation name="GetAllActivationLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportingService/GetAllActivationLogs" message="tns:IReportingService_GetAllActivationLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportingService/GetAllActivationLogsResponse" message="tns:IReportingService_GetAllActivationLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLicenseActivations">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportingService/GetAllLicenseActivations" message="tns:IReportingService_GetAllLicenseActivations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportingService/GetAllLicenseActivationsResponse" message="tns:IReportingService_GetAllLicenseActivations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportingService" type="tns:IReportingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllActivationLogs">
      <soap:operation soapAction="http://tempuri.org/IReportingService/GetAllActivationLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLicenseActivations">
      <soap:operation soapAction="http://tempuri.org/IReportingService/GetAllLicenseActivations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportingService">
    <wsdl:port name="BasicHttpBinding_IReportingService" binding="tns:BasicHttpBinding_IReportingService">
      <soap:address location="http://localhost:56089/ReportingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>