Providers/WebServicesProvider/Service References/WcfServices.StatusService/StatusService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StatusService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MgmtServiceDev/StatusService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MgmtServiceDev/StatusService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatusService_GetServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceStatus" />
  </wsdl:message>
  <wsdl:message name="IStatusService_GetServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IStatusService_InitializeService_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeService" />
  </wsdl:message>
  <wsdl:message name="IStatusService_InitializeService_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IStatusService_SetupTestProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SetupTestProduct" />
  </wsdl:message>
  <wsdl:message name="IStatusService_SetupTestProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetupTestProductResponse" />
  </wsdl:message>
  <wsdl:message name="IStatusService_CleanTestProductData_InputMessage">
    <wsdl:part name="parameters" element="tns:CleanTestProductData" />
  </wsdl:message>
  <wsdl:message name="IStatusService_CleanTestProductData_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanTestProductDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStatusService_QueryActiveProductsAndLiceseSets_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryActiveProductsAndLiceseSets" />
  </wsdl:message>
  <wsdl:message name="IStatusService_QueryActiveProductsAndLiceseSets_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryActiveProductsAndLiceseSetsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatusService_BasicServiceTest_InputMessage">
    <wsdl:part name="parameters" element="tns:BasicServiceTest" />
  </wsdl:message>
  <wsdl:message name="IStatusService_BasicServiceTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:BasicServiceTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IStatusService">
    <wsdl:operation name="GetServiceStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusService/GetServiceStatus" message="tns:IStatusService_GetServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusService/GetServiceStatusResponse" message="tns:IStatusService_GetServiceStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitializeService">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusService/InitializeService" message="tns:IStatusService_InitializeService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusService/InitializeServiceResponse" message="tns:IStatusService_InitializeService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetupTestProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusService/SetupTestProduct" message="tns:IStatusService_SetupTestProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusService/SetupTestProductResponse" message="tns:IStatusService_SetupTestProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CleanTestProductData">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusService/CleanTestProductData" message="tns:IStatusService_CleanTestProductData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusService/CleanTestProductDataResponse" message="tns:IStatusService_CleanTestProductData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryActiveProductsAndLiceseSets">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusService/QueryActiveProductsAndLiceseSets" message="tns:IStatusService_QueryActiveProductsAndLiceseSets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusService/QueryActiveProductsAndLiceseSetsResponse" message="tns:IStatusService_QueryActiveProductsAndLiceseSets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BasicServiceTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatusService/BasicServiceTest" message="tns:IStatusService_BasicServiceTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatusService/BasicServiceTestResponse" message="tns:IStatusService_BasicServiceTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStatusService" type="tns:IStatusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceStatus">
      <soap:operation soapAction="http://tempuri.org/IStatusService/GetServiceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeService">
      <soap:operation soapAction="http://tempuri.org/IStatusService/InitializeService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupTestProduct">
      <soap:operation soapAction="http://tempuri.org/IStatusService/SetupTestProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanTestProductData">
      <soap:operation soapAction="http://tempuri.org/IStatusService/CleanTestProductData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryActiveProductsAndLiceseSets">
      <soap:operation soapAction="http://tempuri.org/IStatusService/QueryActiveProductsAndLiceseSets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BasicServiceTest">
      <soap:operation soapAction="http://tempuri.org/IStatusService/BasicServiceTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatusService">
    <wsdl:port name="BasicHttpBinding_IStatusService" binding="tns:BasicHttpBinding_IStatusService">
      <soap:address location="http://localhost/MgmtServiceDev/StatusService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>