Providers/WebServicesProvider/Service References/WcfServices.ProductsService/ProductsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:37090/ProductsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:37090/ProductsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductsService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IProductsService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetLicenseKeysForProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseKeysForProduct" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetLicenseKeysForProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseKeysForProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_AddLicenseKeysForProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLicenseKeysForProduct" />
  </wsdl:message>
  <wsdl:message name="IProductsService_AddLicenseKeysForProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLicenseKeysForProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductsService">
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/AddProduct" message="tns:IProductsService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/AddProductResponse" message="tns:IProductsService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseKeysForProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetLicenseKeysForProduct" message="tns:IProductsService_GetLicenseKeysForProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetLicenseKeysForProductResponse" message="tns:IProductsService_GetLicenseKeysForProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLicenseKeysForProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/AddLicenseKeysForProduct" message="tns:IProductsService_AddLicenseKeysForProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/AddLicenseKeysForProductResponse" message="tns:IProductsService_AddLicenseKeysForProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductsService" type="tns:IProductsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IProductsService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseKeysForProduct">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetLicenseKeysForProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLicenseKeysForProduct">
      <soap:operation soapAction="http://tempuri.org/IProductsService/AddLicenseKeysForProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductsService">
    <wsdl:port name="BasicHttpBinding_IProductsService" binding="tns:BasicHttpBinding_IProductsService">
      <soap:address location="http://localhost:37090/ProductsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>